@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="categories" class="admin-section">
    <h2>Categories List</h2>
    <table>
        <thead>
            <tr>
                <th>Category Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <!-- Ici tu mettras ton foreach pour lister les catégories -->
        </tbody>

    </table>
</div>
