.home {
    background-color: #361800;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.home-text {
    text-align: center; /* centrage du contenu */
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
}

.home-text h1 {
    font-size: 4.5rem; /* Augmenté pour un effet plus impactant */
    margin-bottom: 20px;
    color: #ffffff;
}
    .home-text h1 {
        font-size: 5rem;
        margin-bottom: 20px;
    }

    .home-text p {
        
        text-align: center;
        font-size: 1.5rem;
        color: #dddddd;
    }


.btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #e49c1f;
    color: #fff;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

    .btn:hover {
        background-color: #c97f0b;
    }

.home-img img {
    padding-top:100px;
    width: 750px; /* Agrandi depuis 350px */
    height: auto;
    animation: float 3s ease-in-out infinite;
    left:350px;
}

/* Animation douce */
@keyframes float {
    0%, 100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }
}