<div id="adminDetailModal" class="modal-overlay" style="display:none;">
    <div class="modal-content product-detail-modal">
        <span class="close-btn" onclick="closeAdminDetailModal()">&times;</span>
        <div class="modal-body">
            <div class="product-info-container">
                <h2 id="adminDetailFirstName"></h2>
                <h2 id="adminDetailLastName" style="margin-top:-10px;"></h2>
                <p><strong>Email:</strong> <span id="adminDetailEmail"></span></p>
            </div>
        </div>
    </div>
</div>
