<header>
    <a href="#" class="logo">
        <img src="~/Images/Logo/logo.png" alt="logo" />
        <span>Mocka Bear</span>
    </a>

    <ul class="navbar">
        <li><a href="/">Home</a></li>
        <li><a href="#AboutUs">About Us</a></li>
        <li><a href="/espaceClient/ProductList/products">Menu</a></li>
        <li><a href="#CustomOrder">Custom Order</a></li>
    </ul>

    <div class="header-icon">
        <div class="cart-icon-wrapper" id="cart-icon">
            <i class="fa-solid fa-cart-shopping"></i>

            <span class="cart-badge">3</span>
        </div>
        <div class="log-in-wrapper">
            <a href="#" class="log-in-btn" onclick="openLoginModal()">Log In</a>
        </div>
    </div>
</header>
