@{
    ViewData["Title"] = "Mocka Bear";
}

<section class="home">
    <div class="home-text">
        <h1>Welcome to<br />Mocka Bear</h1>
        <p>Your cozy coffee break starts here.</p>
        <a href="/espaceClient/ProductList/products" class="btn">Order Now</a>
    </div>
    <div class="home-img">
        <img src="~/Images/Logo/logo.png" alt="Mocka Bear Logo" />
    </div>
</section>




@section Styles {
    <link rel="stylesheet" href="~/css/Client/Navbar.css" />
    <link rel="stylesheet" href="~/css/Client/home.css" />
  

}

